<!DOCTYPE html>
<html>
  <head>
    <!-- 문서의 메타정보 작성하는 부분 -->
    <title>잘 정리된 문서</title>
  </head>
  <body>
    <!-- header부분은 윗부분임  -->
    <header>
      <center><h1>문서의 주제목</h1></center>
    </header>



    <!-- section 부분-->
    <section>
      <article>
        <h2>문서 내용1</h2>
        <h3>문서 내용2</h3>
        <h4>문서 내용3</h4>
        <h5>문서 내용4</h5>
        <h6>문서 내용5</h6>
      </article>

      <p>문서의 구조를 명확하게 작성해주세요.</p>
      <p>들여쓰기를 해야 소스코드의 가독성이 높아집니다.</p>
      <h1>줄 바꿈도 해주세요.</h1>
      <br>HTML에서는 종료 태그를 사용하도록 권장합니다.</br>
      <p></p>
      태그 사이가 공백이라면 단축형 태그를 사용할 수 있습니다.
      <p/>
      p태그는 한 줄을 띌 대 사용합니다.

      <hr>

      <h1>태그의 분류</h1>
      <company>한빛아카데미
        <department>영업부</department>
        <department>편집부
          <team>그래픽팀</team>
        </department>
      </company>
      <p/>
      <univ>경희대
        <major>컴공</major>
        <major>전자과</major>
      </univ>
    </section>

    <hr size="10" align="left" width=90% noshade="noshade"></hr>

    <h1>목록 출력하기</h1>
    <!-- 무순서 목록 -->
    <section>
      <article>
        <h2>무순서 목록</h2>
        <ul>
          <li>Coffee</li>
          <li>Tea
            <ul>
              <li>Black tea</li>
              <li>Green tea</li>
            </ul>
          </li>
          <li>Milk</li>
        </ul>
        </article>
        </section>

    <!-- 순서 목록 -->
    <section>
      <article>
        <h2>순서 목록</h2>
        <ol>
          <li>Apples</li>
          <li>Bananas</li>
          <li>Lemons</li>
          <li>Oranges</li>
        </ol>
      </article>
    </section>

    <!-- 정의형 목록 -->
    <section>
      <article>
        <h2>정의형 목록</h2>
        <dl>
          <dt>첫 번째 아이템</dt>
            <dd>- HTML5</dd>
          <dt>두 번째 아이템</dt>
            <dd>- CSS3</dd>
          <dt>세 번째 아이템</dt>
            <dd>- JavaScript</dd>
        </dl>
      </article>
    </section>

    <hr size="10" align="left" width=90% noshade="noshade"></hr>
    <footer>
      <small>사이트 정보 표시</small>
    </footer>
  </body>
</html>
